* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.imgchest.com/files/j7kzcbm6r7m.png);
    background-repeat: no-repeat;
    max-width: 1143px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}

.container > * {
    border: 2px dashed blue;
}

.box1 {
    grid-area: one;
}

.box2 {
    grid-area: two;
}

.box3 {
    grid-area: three;
}

.box4 {
    grid-area: four;
}

.box5 {
    grid-area: five;
}

.box6 {
    grid-area: six;
}

.box7 {
    grid-area: seven;
}

.container {
    display: grid;
    grid-template-rows: minmax(39px,95px) minmax(16px,40px) minmax(50px,120px) minmax(277px,637px) minmax(118px,480px);
    grid-template-areas: 
    "one one one"
    "two six six"
    "three three three"
    "four four seven"
    "five five five";
    grid-template-columns: minmax(166px,200px) minmax(166px,570px) minmax(166px,374px);
}

ul {
    font-family: 'Roboto';
    font-size: 12.7px;
    font-weight: 500;

    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

    background-color: #183a52;
    color: #d7dbdd;
    

    max-width: 100%;
    min-height: 100%;
    align-items: center;
    flex-wrap: wrap;

}

.l1 {
    padding-left: 125px;
    flex-basis: 207px;
}

.l2 {
    flex-basis: 76px;
}

.l3 {
    flex-basis: 94px;
}

.l4 {
    flex-basis: 126px;
}

.l5 {
    flex-basis: 75px;
}  

.l6 {
    flex-basis: 73px;
}

.l7 {
    flex-basis: 132px;
}

.l8 {
    flex-basis: 20px;
}

@media(max-width: 500px) {
    .container {
        grid-template-columns: 100%;

        grid-template-areas: 
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven";
    }
}


